@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background: #95a5a6;
}

.all {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.menu {
  position: relative;
  width: 20vw;
  min-width: 200px;
  height: 40vw;
  background: #2c3e50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
}

.menu button {
  border: none;
  height: 10%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
  font-family: poppins;
  color: #2c3e50;
  font-size: 20px;
  background: white;
  cursor: pointer;
  outline: none;
}

.menu button:hover {
  color: #2ecc71;
}

.menu .aboutUs {
  position: absolute;
  left: -300%;
  opacity: 0;
  width: 100%;
  height: 100%;
  background: rgba(44, 62, 80, 0.904);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: white;
  font-family: poppins;
  text-align: center;
  -webkit-transition: .35s;
  transition: .35s;
}

.menu .aboutUs div {
  position: absolute;
  top: 2%;
  right: 2%;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background: #e74c3c;
  font-weight: bolder;
  cursor: pointer;
}

.game {
  width: 40vw;
  min-width: 200px;
  height: 40vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #95a5a6;
}

.game .bigcells {
  width: calc(99%/3);
  height: calc(99%/3);
  background: #2c3e50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-radius: 10px;
}

.game .bigcells .smallcells {
  width: calc(92%/3);
  height: calc(92%/3);
  background: #34495e;
  display: -ms-grid;
  display: grid;
  place-items: center;
  cursor: pointer;
  border-radius: 20px;
  color: white;
  font-family: poppins;
  font-size: large;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

@-webkit-keyframes falsi {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  10% {
    -webkit-transform: rotateZ(20deg);
            transform: rotateZ(20deg);
  }
  20% {
    -webkit-transform: rotateZ(-20deg);
            transform: rotateZ(-20deg);
  }
  30% {
    -webkit-transform: rotateZ(20deg);
            transform: rotateZ(20deg);
  }
  40% {
    -webkit-transform: rotateZ(-20deg);
            transform: rotateZ(-20deg);
  }
  50% {
    -webkit-transform: rotateZ(20deg);
            transform: rotateZ(20deg);
  }
  60% {
    -webkit-transform: rotateZ(-20deg);
            transform: rotateZ(-20deg);
  }
  70% {
    -webkit-transform: rotateZ(20deg);
            transform: rotateZ(20deg);
  }
  80% {
    -webkit-transform: rotateZ(-20deg);
            transform: rotateZ(-20deg);
  }
  90% {
    -webkit-transform: rotateZ(20deg);
            transform: rotateZ(20deg);
  }
  100% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
}

@keyframes falsi {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  10% {
    -webkit-transform: rotateZ(20deg);
            transform: rotateZ(20deg);
  }
  20% {
    -webkit-transform: rotateZ(-20deg);
            transform: rotateZ(-20deg);
  }
  30% {
    -webkit-transform: rotateZ(20deg);
            transform: rotateZ(20deg);
  }
  40% {
    -webkit-transform: rotateZ(-20deg);
            transform: rotateZ(-20deg);
  }
  50% {
    -webkit-transform: rotateZ(20deg);
            transform: rotateZ(20deg);
  }
  60% {
    -webkit-transform: rotateZ(-20deg);
            transform: rotateZ(-20deg);
  }
  70% {
    -webkit-transform: rotateZ(20deg);
            transform: rotateZ(20deg);
  }
  80% {
    -webkit-transform: rotateZ(-20deg);
            transform: rotateZ(-20deg);
  }
  90% {
    -webkit-transform: rotateZ(20deg);
            transform: rotateZ(20deg);
  }
  100% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
}
/*# sourceMappingURL=Style.css.map */